{# Ensure you have access to variables like:
  - other_user_entity
  - has_current_user_blocked_other
  - is_current_user_blocked_by_other
  - messages_list
  - message_form
#}
{{kint()}}
<div class="match-chat-thread-wrapper">
	<div class="chat-with-header">
		<h3>{{ 'Chat with @username'|t({'@username': other_user_entity.name.value}) }}</h3>
		{# Display block status messages #}
		{% if has_current_user_blocked_other %}
			<div class="messages messages--status">{{ 'You have blocked @username.'|t({'@username': other_user_entity.displayName.value}) }}</div>
		{% elseif is_current_user_blocked_by_other %}
			<div class="messages messages--warning">{{ '@username has blocked you.'|t({'@username': other_user_entity.displayName.value}) }}</div>
		{% endif %}
	</div>

	<div class="chat-messages-scroll-container">
		{{ messages_list }}
		{# This should render the div with id="match-chat-messages-wrapper" inside #}
	</div>

	<div class="chat-form-container">
		{{ message_form }}
	</div>
</div>
